<div class='jumbotron center'>


<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting App!</p>
<p>Know more about us <%= link_to "Here", "#", class: "btn btn-primary btn-lg" %> </p>

</div>
